{% extends 'base.html.twig' %}

{% block title %}Search Dummy{% endblock %}
{% import "index/hitsTable.html.twig" as hitsTable %}
{% import "index/pagination.html.twig" as pagination %}
{% import "index/facets.html.twig" as facets %}
{% block body %}
    <main class="flex-shrink-0">
        <div class="container">
            <form role="search" method="post">
                <div class="border border-dark p-2">
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.excludedAssortments) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.size) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex">
                            <input name="{{ form.term.vars.full_name }}" value="{{ form.term.vars.value }}"
                                   id="searchTerm" autocomplete="off"
                                   class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                            {{ form_widget(form._token) }}
                        </div>
                    </div>

                    {% if searchResponse %}
                        {{ facets.productGroups(searchResponse, form) }}
                        {{ facets.manufacturer(searchResponse, form) }}
                        {{ facets.facets(searchResponse, form) }}
                    {% endif %}
                </div>
                {% if searchResponse %}
                    {{ hitsTable.table(searchResponse.searchHitCollection) }}
                    {{ pagination.pagination(searchResponse, form) }}
                {% endif %}
            </form>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>
    <script>
        $(function () {
            $("#searchTerm").autoComplete({
                resolverSettings: {
                    url: '{{ path('suggest') }}'
                }
            });
        });
    </script>
{% endblock %}
